#repeatOptions {
    display: none;
    margin-top: 10px;
}

#repeatProgress {
    display: none;
    width: 50%;
    margin: auto;
}

#setup {
    display: block;
}

#count {
    display: none;
}

#rowTotal {
    display: block;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    width: 250px;
    position: relative;
    margin: 10px auto;
    margin-bottom: 0;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 50px;
    background: #fff;
    border: 1px solid #333;
    display: inline-block;
}

.checkbox label::after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    opacity: 0.2;
}

.checkbox input[type=checkbox]:checked + label::after {
    opacity: 1;
}

.checkbox label + p {
    display: inline-block;
    text-align: center;
    margin: -10px auto;
}

.container.small {
    text-align: center;
    max-width: 50%;
    min-width: 37%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.container.small p {
    white-space: nowrap;
    display: inline;
    line-height: 15px;
}

.container.small p i {
    font-size: 12pt;
}

.labelBox {
    width: 75%;
    margin-left: 5%;
}

.labelBox label {
    text-align: center;
    white-space: nowrap;
}

.labelBox input {
    float: right;
    padding-top: 5px;
}

.lineHeight {
    line-height: 35px;
}

.progress-bar-wrapper {
    display: inline-box;
    align-items: center;
}

.progress-bar {
    display: inline-block;
    height: 34px;
    position: relative;
    width: auto;
    border: 5px solid #ff8f66;
    border-radius: 40px;
    padding: 5px;
}

.progress {
    background: transparent;
}

.dot {
    background: transparent;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
}

#currRow {
    font: bold 72px 'lorabold';
    color: #ff8f66;
}

